{% extends 'layout.html' %}
{% block content %}

            <div class="col-sm">
               <div class="centre-form">
                <form >
                <button name="button-prev" type="submit" class="{{ 'button-prev disabled' if page == 1 else 'button-prev' }}" data-page="{{ page }}"> Previous </button>
                    </form>
                    <form action="/1" method="post">
                <button name="button-next" type="submit" class="{{ 'btn btn-primary disabled' if next_page == None else 'btn btn-primary' }}" data-api="{{ next_page}}" value="{{ next_page }}"> Next </button>
                </form>
                   </div>
            </div>

            <table class="actors_list">
                <thead>
                <tr>
                    <th><a href="/actors-list/{{ page }}/name/{{ order }}" style="color: #ffffff" >Actor name</a></th>
                    <th><a href="/actors-list/{{ page }}/birthday/{{ order }}" style="color: #ffffff" >Actor birthday</a></th>
                    <th><a href="/actors-list/{{ page }}/death/{{ order }}" style="color: #ffffff" >Actor deathday</a></th>
                    <th>Biography</th>
                    <th>Shows</th>
                </tr>
                </thead>
                <tbody>
                {%  for actor in results %}

                <tr>
                    <td style="text-align: center"> {{actor.name}} </td>
                    <td style="text-align: center">{{actor.birthday}}</td>
                    <td style="text-align: center">{{actor.death}}</td>
                    <td style="text-align: center">{{actor.biography}}</td>
                    <td style="text-align: center">{{actor.shows}}</td>

                </tr>
                {% endfor %}
                </tbody>
            </table>


{% endblock %}