{% extends 'layout.html' %}
{% block content %}

            <table class="actors_list">
                <thead>
                <tr>
                    <th>title</th>
                    <th>year</th>
                    <th>runtime</th>
                    <th>>rating</th>
                    <th>Genre</th>
                    <th>Trailer</th>
                    <th>Homepage</th>
                    <th>Overview</th>
                </tr>
                </thead>
                <tbody>
                {%  for show in shows %}

                <tr>
                    <a id = "modalButton" data-show="{{ show.id }}" href="/tv-show-all/modal-genres/{{ show.id }}"> <td style="text-align: center"> {{show.title}} </td></a>
                    <td style="text-align: center">{{show.year}}</td>
                    <td style="text-align: center">{{show.runtime}}</td>
                    <td style="text-align: center">{{show.rating}}</td>
                    <td style="text-align: center">{{show.genre}}</td>
                    <td style="text-align: center">{{show.trailer}}</td>
                    <td style="text-align: center">{{show.homepage}}</td>
                    <td style="text-align: center">{{show.overview}}</td>

                </tr>
                {% endfor %}
                </tbody>
            </table>

    <div class="modal-container" id="modal-container">
{% endblock %}