{% extends 'layout.html' %}
{% block content %}
    <section>
        <nav class="breadcrumb">

            <a href="/tv-show/{{tv_show_id }}">{{tv_show_name if tv_show_name}}</a>
            {% if season %}
            <span class="separator">&gt;</span>

            <a href="/tv-show/{{tv_show_id}}/{{season_id}}">{{season}}</a>
            {%  endif %}
            {% if episode %}
            <span class="separator">&gt;</span>}

            <a href="/tv-show/{{tv_show_id}}/{{season_id}}/{{ episode_id }}">{{episode}}</a>
        {% endif %}
        </nav>
    <h1 class="title text-center">{{ show_details['title']}}</h1>
    <div class="card detailed-view">
            <p>Info :</p>
            <div class="row">
                <div class="col col-twothird">
                    <h2>{{show_details['title']}}</h2>
                    <p class="small grayed">{{show_details['runtime']}}<span class="separator">|</span> {{ genres }}  <span
                            class="separator">|</span> {{show_details['year']}} (USA)</p>
                    <p>{{show_details['overview']}}</p>
                </div>
            </div>
             <p><b>homepage:</b>&nbsp;<a href="{{show_details['homepage']}}">CLICK here</a></p>
            <p><b>trailer:</b>&nbsp;<a href="{{show_details['trailer']}}">CLICK here</a></p>
            <p><b>rating:</b>&nbsp;{{show_details['rating']}}</p>
        <!--
            <div>
                <p><b>Director:</b>&nbsp;<a href="#">Tim Miller</a></p>
                <p><b>Writers:</b>&nbsp;<a href="#">Rhett Reese</a>, <a href="#">Paul Wernick</a></p>
                <p><b>Stars:</b>&nbsp;<a href="#">Ryan Reynolds</a>, <a href="#">Morena Baccarin</a>, <a href="#">T.J.
                    Miller</a></p>
            </div>
        -->
    </div>
<div class="card">
            Seasons

            <table>
                <thead>
                <tr>
                    <th>Season number</th>
                    <th>overview</th>
                    <th class="action-column">edit/delete</th>
                </tr>
                </thead>
                <tbody>
                {%  for season in seasons_details %}
                <tr>
                    <td><a href = "/tv-show/{{tv_show_id}}/{{season['id']}}">{{season['title']}}</a></td>
                    <td>{{season['overview'] if season['overview']  else " "}}</td>
                    <td class="action-column">
                        <button type="button" class="icon-button"><i class="fa fa-edit fa-fw"></i></button>
                        <button type="button" class="icon-button"><i class="fa fa-trash fa-fw"></i></button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{#<div class="card">#}
{#            <p>A form example to edit a TV show's episode:</p>#}
{#            <form action="#" method="post">#}
{#                <p class="form-element">#}
{#                    <label class="form-element-label" for="form-example-show">Show:</label>#}
{#                    <select name="show" id="form-example-show">#}
{#                        <option value="">Game of Thrones (2011)</option>#}
{#                        <option value="">Lost (2004)</option>#}
{#                        <option value="">South Park (1997)</option>#}
{#                        <option value="">How I met your mother (2005)</option>#}
{#                        <option value="">Legion (2017)</option>#}
{#                    </select>#}
{#                </p>#}
{#                <p class="form-element">#}
{#                    <label class="form-element-label" for="form-example-season">Season:</label>#}
{#                    <input type="number" name="season" id="form-example-season" value="" min="1" max="30">#}
{#                </p>#}
{#                <p class="form-element">#}
{#                    <label class="form-element-label" for="form-example-episode">Episode:</label>#}
{#                    <input type="number" name="episode" id="form-example-episode" value="" min="1" max="100">#}
{#                </p>#}
{#                <p class="form-element">#}
{#                    <label class="form-element-label" for="form-example-title">Title:</label>#}
{#                    <input type="text" name="name" id="form-example-title" value="" placeholder="What the pencake?">#}
{#                </p>#}
{#                <p class="form-element">#}
{#                    <label class="form-element-label" for="form-example-length">Length:</label>#}
{#                    <input type="number" name="length" id="form-example-length" value="" min="1" max="999">#}
{#                    <span>min.</span>#}
{#                </p>#}
{#                <p class="text-center">#}
{#                    <button type="submit">Submit</button>#}
{#                </p>#}
{#            </form>#}
{#        </div>#}
{% endblock %}
