{% extends 'layout.html' %}
{% block content %}
    <script rel="script" src="{{ url_for('static', filename='js/modal_show_genres.js') }}" defer ></script>

            <table class="actors_list">
                <thead>
                <tr>
                    <th>title</th>
                    <th>year</th>
                    <th>runtime</th>
                    <th>>rating</th>
                    <th>Genre</th>
                    <th>Trailer</th>
                    <th>Homepage</th>
                    <th>Overview</th>
                </tr>
                </thead>
                <tbody>
                {%  for show in shows %}

                <tr>
                     <td style="text-align: center"><button class = "modalLink" data-show="{{ show.id }}" data-url="/tv-show-all/modal-genres/{{ show.id }}"> {{show.title}} </button></td>
                    <td style="text-align: center">{{show.year}}</td>
                    <td style="text-align: center">{{show.runtime}}</td>
                    <td style="text-align: center">{{show.rating}}</td>
                    <td style="text-align: center">{{show.genre}}</td>
                    <td style="text-align: center">{{show.trailer}}</td>
                    <td style="text-align: center">{{show.homepage}}</td>
                    <td style="text-align: center">{{show.overview}}</td>

                </tr>
                {% endfor %}
                </tbody>
            </table>

    <div class="modal-container" id="modal-container">
{% endblock %}